.menu{
    background-color: #d0dae5;
    margin-top: 1%;
    padding-bottom: 100%;
    
}

.nav-link{
    border-bottom: 1px solid black;
    margin-left: 15%;
}

.rounded-circle{
    margin-left: 10%;
    margin-top: 5%;
}