


<div class="row w-100 m-0 p-0">
    <table >
        <thead>
          <!-- <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Mobile No</th>
            <th scope="col">DOB</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Pancard</th>
            <th scope="col">Address</th>
            <th scope="col">Cibil Status</th>
            <th scope="col">Cibil Score</th>
          </tr> -->
        </thead>
        <tbody>
          <tr *ngFor="let e of enqData">
            <!-- <th scope="row">{{e.cid}}</th>
            <td>{{e.firstName}}</td>
            <td>{{e.lastName}}</td>
            <td>{{e.mobileNo}}</td>
            <td>{{e.dateofBirth}}</td>
            <td>{{e.gender}}</td>
            <td>{{e.age}}</td>
            <td>{{e.panCard}}</td>
            <td>{{e.address}}</td>
            <td>{{e.cibilstatus}}</td>
            <td>{{e.cibilscore}}</td> -->
            <!-- <button class=" btn btn-success" (click)="getCibil(e.cid)">Cibil Check</button> -->
            <button (click)="getForwerdedData(e.forwardStatus)">all Data</button>
          </tr>
        </tbody>
      </table>
</div>



<div class="row w-100 m-0 p-0">
  <table >
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Mobile No</th>
          <th scope="col">DOB</th>
          <th scope="col">Gender</th>
          <th scope="col">Age</th>
          <th scope="col">Pancard</th>
          <th scope="col">Address</th>
          <th scope="col">Cibil Status</th>
          <th scope="col">Cibil Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of forwardform">
          <th scope="row">{{f.cid}}</th>
          <td>{{f.firstName}}</td>
          <td>{{f.lastName}}</td>
          <td>{{f.mobileNo}}</td>
          <td>{{f.dateofBirth}}</td>
          <td>{{f.gender}}</td>
          <td>{{f.age}}</td>
          <td>{{f.panCard}}</td>
          <td>{{f.address}}</td>
          <td>{{f.cibilstatus}}</td>
          <td>{{f.cibilscore}}</td>
          <button class=" btn btn-success" (click)="getCibil(f.cid)">Cibil Check</button>
       
        </tr>
      </tbody>
    </table>
</div>


<!-- {{cibilScore|json}} -->

<!-- {{forwardform|json}} -->

