<div class="wrapper fadeInDown">
  <div id="formContent">
  <!-- Login Form -->
  <form [formGroup]="loginform" (ngSubmit)="onlogin()">
      <input type="text" id="login" formControlName="username" placeholder="username">
      <pre></pre>
      <input type="password" id="password"  formControlName="password" placeholder="password">
      <pre></pre>
      <input type="submit"  value="Log In">
    </form>
<!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href=>Forgot Password?</a>
    </div>

  </div>
</div>






<!-- <main class="form-signin w-100 m-auto">
  <form [formGroup]="loginform" (ngSubmit)="onlogin()">
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="username">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
      <label for="floatingPassword">Password</label>
    </div>
   

    <div class="form-check text-start my-3">
      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
  </form>
</main>
     -->

