
<div class="wrapper fadeInDown">
  <div id="formContent">
  <!-- Login Form -->
  <form [formGroup]="loginform" (ngSubmit)="onlogin()">
      <input type="text" id="login" formControlName="username" placeholder="username">
      <pre></pre>
      <input type="password" id="password"  formControlName="password" placeholder="password">
      <pre></pre>
      <input type="submit"  value="Log In">
    </form>
<!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href=>Forgot Password?</a>
    </div>

  </div>
</div>




    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
  </form>
</main>
     -->

