
     
.top-headr{
  background-color: #7aafe8;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
 
}

.bottom-header{
  background-color: #d0dae5;
  margin-inline-start: 0%;
  margin-inline-end: 0%;
 
}


.img{
  margin-top: -8%;

}


.col-6{
 padding-inline-start: 2%;
 
}

.log{
margin-left: 70%;
}




     
    