

<div class="row">
  <header class="d-flex flex-wrap justify-content-center py-3 top-header">
    <div class="col-6">
      <h4>Car Loan Finance</h4>
    </div>
    <div class="col-6">
     
      <ul class="nav nav-pills">
        <button class="btn btn-danger log" routerLink="login">Login</button>
        <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
      </ul>
    </div>
  </header>
</div>

<div class="row">
  <header class="d-flex flex-wrap justify-content-center py-3 bottom-header">
    <ul class="nav nav-pills">
      <button class="nav-link" routerLink="/">Home</button>
      <button class="nav-link" routerLink="aboutus">About Us</button>
      <button class="nav-link" routerLink="location">Location</button>
      <button class="nav-link" routerLink="contact">Contact us</button>
      <button class="nav-link" routerLink="emi">EMI Calculator</button>
      <button class="nav-link" routerLink="enquiry">Enquiry</button>
      <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
    </ul>
  </header>
</div>

<router-outlet></router-outlet>