
<div class="row">
  <header class="d-flex flex-wrap justify-content-center py-3">
    <div class="col-6" class="center">
      <p>
   Car Loan Finance
   Car Loan Finance Limited, Corporate Office,
   Bombay Dyeing Mills Compound, 
   Pandurang Budhkar Marg,Worli, Mumbai - 400 025
   Tel: (022) 2425 2525
   CIN: L65110GJ1993PLC020769</p>
     
    </div>
    <div class="col-6" class="border:black">
      <ul class="nav nav-pills">
        <img src="https://th.bing.com/th/id/OIP.ngI1FkMNzzQDMyRr31hfPQHaDb?pid=ImgDet&rs=1 " class="ImageBorder" /> 
      </ul>
    </div>
  </header>
</div>


<div class="row">
    <footer class="bg-light text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #3b5998;"
            href="#!"
            role="button"
            ><i class="fa fa-facebook" aria-hidden="true"></i></a>
    
          <!-- Twitter -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fa fa-twitter" aria-hidden="true"></i></a>
    
          <!-- Google -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #dd4b39;"
            href="#!"
            role="button"
            ><i class="fa fa-google" aria-hidden="true"></i></a>
    
          <!-- Instagram -->
          <a
            class="btn text-white btn-floating m-1"
            style="background-color: #ac2bac;"
            href="#!"
            role="button"
            ><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(240, 240, 247, 0.2); color: black;">
        © 2023 Copyright:
        <a class="text-black" href="http://localhost:4200/" >CarLoanFinance.com</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
  <div class="about-section">
    <h2>About Us Page</h2>
    <p>Looking to buy a new car?CarLoan Finance New Car Loan offers car loans from Rs. 1 Lakh upto 100% on-road funding along with a host of benefits that include attractive interest rates, comfortable tenure, </p>
    <p>Finance eDGE Reward points, etc Before applying for a car loan online, make sure to use the car loan calculator to find out your EMI. Apply for an FinanceNew Car Loan and make your dream of owning a car come true.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="https://img.jagranjosh.com/images/2022/December/20122022/Who-is-sundar-pichai-biography.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://assets.entrepreneur.com/content/3x2/2000/20200123083900-pichaigoogle.jpeg" alt="Mike" style="width:80%">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="https://image.cnbcfm.com/api/v1/image/103991584-RTSQQJD.jpg?v=1529452147" alt="John" style="width:80%">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
<router-outlet></router-outlet>